#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  gap: 20px;           
  padding: 10px 20px;

  position: fixed;  /* <-- stick to top */
  top: 0;            /*top of viewport */
  z-index: 1000;     /* above other content */
}

.nav-link {
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-link.active {
  background-color: #333;
  color: #fff;
}



.nav-icons {
  margin-left: auto; 
  display: flex;
  gap: 15px;
  align-items: center;
  size: 38px;
}

.nav-icons .icon{
  color: #ff0000;
  transition: color 0.3s;
}

.nav-icons .icon:hover{
  transform: scale(1.5);
  color: #ffffff;
  transition: color 0.3s;
}