#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: 'DaftFont';
  src: url('./assets/fonts/DaftFont.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.nav-row {
  border-radius: 25px;
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
  height: 3.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  background: rgba(18, 18, 18, 0.65);
  backdrop-filter: blur(6px);
  padding: 0.75rem 2rem;
  margin: 0 auto;
  box-shadow: #E31C2D 10px 10px 30px -10px;
}

.nav-link {
  text-decoration: none;
  position: relative;
  color:#E31C2D;
  font-weight: bold;
  padding: 5px 10px;
  display: inline-block;
}

.nav-link:hover {
  color: #E31C2D;
  transform: translateY(-2px);
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  /* Start the line in the middle */
  left: 50%; 
  background-color: #E31C2D;
  /* Move it back by half its own width and animate */
  transform: translateX(-50%);
  transition: width 0.3s ease;
  border-radius: 25px;
}
.nav-link:hover::after,
.nav-link.active::after {
  width: calc(100% - 20px);
}

.nav-icons {
  margin-left: auto;
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-icons .icon {
  color: #E31C2D;
  transition: transform 0.2s, color 0.2s;
  font-size: 1.5rem;
}

.nav-icons .icon:hover{
  transform: scale(1.5);
  transform-origin:bottom center;
}

.home-page{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 6rem;
  overflow-x: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.crowd-container {
  position: absolute;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}



.crowd-image {
  width: 100%;      
  height: auto;     
  display: block;
  transform: translateY(46%);
  
}

.crowd-parallax {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1; 
  pointer-events: none;
  overflow: hidden;
  perspective: 500px; 
}

.layer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.layer-back {
  bottom: 60px;
  z-index: 1;
  
}


.layer-middle {
  bottom: 50px;
  z-index: 2;
}

.layer-front {
  bottom: -380px;
  z-index: 3;
}

/* Lightest background layer */
.layer-back .crowd-image {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 40%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 40%);
}

/* Middle layer */
.layer-middle .crowd-image {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 35%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 35%);
}

/* Darkest front layer */
.layer-front .crowd-image {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%);
}

.home-container {
  box-shadow: #E31C2D 10px 10px 30px -10px;
  background: rgba(18, 18, 18, 0.65);
  backdrop-filter: blur(6px);
  border-radius: 25px;
  padding: 2rem 3rem; 
  position: relative;
  z-index: 1;
  max-width: 700px;
}

.intro-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #f5f5f5;
  font-size: 1.2rem;
}


header {
  position: sticky; 
  top: 0;    
  width: 100%;
  z-index: 10;
  background: transparent;
  padding: 1rem;
  box-sizing: border-box;
}

.header {
  color: #E31C2D;
  font-family: 'DaftFont', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1; 
}

.portrait {
  width: 380px;
  height: 380px;
  border-radius: 25px;
  object-fit: cover;
}

.column {
  flex-direction: row;
  display:  flex;
  gap: 3rem;
  align-items: flex-start;
  z-index: 2;
}
.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: #E31C2D 10px 10px 30px -10px;
  background: rgba(18, 18, 18, 0.85);
  backdrop-filter: blur(6px);
  border-radius: 25px;
  padding: 2rem 2rem; 
}

.outside-container {
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  z-index: 2;

  box-shadow: #E31C2D 10px 10px 30px -10px;
  background: rgba(18, 18, 18, 0.65);
  backdrop-filter: blur(6px);
  border-radius: 25px;
  padding: 2rem 2rem; 
}

.about-content {
  max-width: 600px;
  text-align: left;
  color: #f5f5f5;
  font-size: 1.2rem;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  min-height: 100vh;
  padding-top: 6rem;
}

.projects-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  min-height: 100vh;
  padding-top: 6rem;
}

.projects-container {
  box-shadow: #E31C2D 10px 10px 30px -10px;
  background: rgba(18, 18, 18, 0.65);
  backdrop-filter: blur(6px);
  border-radius: 25px;
  padding: 2rem 3rem; 
  position: relative;
  z-index: 1;
  max-width: 700px;
}

.pngpal-project-card {
  margin-top: 2rem;
  box-shadow: #E31C2D 10px 10px 30px -10px;
  background: rgba(18, 18, 18, 0.65);
  backdrop-filter: blur(6px);
  border-radius: 25px;
  padding: 2rem 3rem; 
  position: relative;
  z-index: 1;
  max-width: 700px;
}

.project-card {
  width: 450px;      /* pick what looks good */
  height: 290px;
  padding: 1.5rem;
  margin-top: 2rem;
  box-shadow: #E31C2D 10px 10px 30px -10px;
  background: rgba(18, 18, 18, 0.65);
  backdrop-filter: blur(6px);
  border-radius: 25px;
  padding: 3rem 3rem; 
  position: relative;
  z-index: 1;
}

.project-card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-logo {
  width: 80px;        /* adjust as needed */
  height: 80px;
  object-fit: contain;
  display: flex;
  align-items: flex-start;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-card {
  background: rgba(18, 18, 18, 0.65);
  backdrop-filter: blur(6px);
  outline: #E31C2D 2px solid;
  margin-top: -7rem;
  padding: 2rem;
  border-radius: 20px;
  max-width: 600px;
  width: 90%;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #E31C2D;
  border-radius: 25%;
  transition: transform 0.2s ease;
}

.modal-close:hover {
  background-color: rgb(48, 48, 48);
  transform: scale(1.2);
  color: #E31C2D;
}

.project-logo {
  border-radius: 25px;
  object-fit: cover;
}

.tags {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0 1rem;
  justify-content: center;
}

.tag {
  bottom: 1rem;
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: #E31C2D 2px 2px 10px -5px;
  color: #f5f5f5;
}

.link {
   display: inline-flex;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #f5f5f5;
}

.link:hover {
  transform: scale(1.2);
  color: #E31C2D;
  box-shadow: #E31C2D 2px 2px 10px -5px;

}